.myData {
    width: 101%;
}
.user-select-dropdown {
    position: relative;
    display: inline-block;
    padding: 2px 5px 0px 5px;
    border-radius: 5px;
    border: solid 1px #dee7f0;
    background-color: white;
}
.user-select-dropdown span.user, .user-select-dropdown span.placeholder{
  margin-right:1m; 
  margin-bottom:2px;
  padding:1px 0; 
  border-radius: 5px; 
  display:inline-block;
}
.user-select-dropdown span.user{
  background-color: #0060DF;
  padding:1px 1em; 
  color: white;
  margin-right: 2px;
}
.user-select-dropdown span.user .suppr {
  float: right;
  margin: 0 -6px 3px 5px;
  font-size: 0.7em;
  margin-top: 2px;
  cursor: pointer;
  color: black;
}
.user-select-dropdown span.user .suppr:hover { color: red;}
.user-select-dropdown span.placeholder{
  color:gray;
}
.user-select-dropdown-list-wrapper{
  top:0;
  left: 0;
  right: 0;
  box-shadow: gray 0 3px 8px;
  display: none;
  z-index: 100;
  padding:2px;
  border-radius: 5px;
  border: solid 1px gray;
  margin: -1px;
  position: absolute;
  background: white;
}
.user-select-dropdown-list{
  padding: 2px;
  overflow-y:auto;
  overflow-x: hidden;
}

.user-select-dropdown-list div{
  padding: 5px;
}

.user-select-dropdown-list div:hover{
  background-color: #0060DF;
}
.user-select-dropdown span.selectmax {width:94%;}
.user-select-dropdown-all-selector {border-bottom:solid 1px black;}